<span class = "citiesChooser-label">
  Select city:
</span>

<select
  class    = "citiesChooser-select"
  onchange = {{action changeCityAction value="target.value"}}
>
  {{#each cities as |city|}}
    <option
      value    = {{city.id}}
      selected = {{eq city currentCity}}
    >
      {{city.name}}
    </option>
  {{/each}}
</select>

<span>
  <span class = "citiesChooser-name">      {{!currentCity.name}}     </span>
  <span class = "citiesChooser-latitude">  {{currentCity.latitude}}  </span>
  <span class = "citiesChooser-longitude"> {{currentCity.longitude}} </span>
</span>