<div class = "userListItem-id">
  {{user.id}}
</div>

<div class = "userListItem-name">
  {{user.name}}
</div>

<div class = "userListItem-latitude">
  {{user.latitude}}
</div>

<div class = "userListItem-longitude">
  {{user.longitude}}
</div>

<div class = "userListItem-distance">
  {{round user.distanceKm 2}} km
</div>