<div class = "route-city">

  {{hero-header
    currentCity       = model.currentCity
    userCityJunctions = model.userCityJunctions
    distanceLimitKm   = distanceLimitKm
  }}


  <main class = "route-city-main">

    <section class = "route-city-main-section _ui">
      {{cities-chooser
        class            = "route-city-citiesChooser"
        cities           = model.cities
        currentCity      = model.currentCity
        changeCityAction = (action 'changeCityAction')
      }}

      {{#with (sort-by 'user.numericId' model.userCityJunctions) as |userCityJunctions|}}
        <div class = "route-city-distance">
          <span class = "route-city-distance-preLabel">
            Distance limit:
          </span>

          {{#unless fastboot.isFastBoot}}
            {{input
              class = "route-city-distance-slider"
              type  = "range"
              min   = 0
              max   = maxDistanceLimitKm
              value = distanceLimitKm
            }}
          {{/unless}}

          <span class = "route-city-distance-label">
            {{distanceLimitKm}} km
          </span>
        </div>

        {{user-list
          class           = "route-city-userList"
          users           = userCityJunctions
          cityName        = model.currentCity.name
          distanceLimitKm = distanceLimitKm
        }}
      {{/with}}
    </section>{{! route-city-main-section _ui }}



    <section class = "route-city-main-section _desc">
      asdf
    </section>{{! route-city-main-section _desc }}

  </main>{{! route-city-main }}

</div>{{! route-city }}