{{cities-chooser
  cities           = model.cities
  currentCity      = model.currentCity
  changeCityAction = (action 'changeCityAction')
}}



{{#with (sort-by 'user.numericId' model.userCityJunctions) as |userCityJunctions|}}
  <label class = "route-city-distance">
    {{input
      class = "route-city-distance-slider"
      type  = "range"
      min   = 0
      max   = (get (sort-by 'distanceKm' model.userCityJunctions) 'lastObject.distanceKm')
      value = distanceLimitKm
    }}

    Distance limit:
    <span class = "route-city-distance-label">
      {{distanceLimitKm}} km
    </span>
  </label>

  {{#leaflet-map
    lat  = 53.186288
    lng  = -7.970581
    zoom = 6
  }}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

    {{circle-layer
      location = (array model.currentCity.latitude model.currentCity.longitude)
      radius   = (multiply distanceLimitKm 1000)
    }}

    {{#each model.userCityJunctions as |u|}}
      {{#marker-layer
        lat     = u.latitude
        lng     = u.longitude
        opacity = (if (lte u.distanceKm distanceLimitKm) 1 0.3)
        alt     = (concat u.name ' (' (round u.distanceKm 1) ' to ' model.currentCity.name ')')
        title   = (concat u.name ' (' (round u.distanceKm 1) ' to ' model.currentCity.name ')')
      }}
        {{#popup-layer popupOpen=(readonly u.isOpen)}}
          <h3>{{u.name}}</h3>
          <div>Distance to {{model.currentCity.name}}: {{round u.distanceKm 1}} km</div>
          <div>Is in range: {{if (lte u.distanceKm distanceLimitKm) 'yes' 'no'}}</div>
        {{/popup-layer}}
      {{/marker-layer}}
    {{/each}}
  {{/leaflet-map}}

  {{user-list
    users           = userCityJunctions
    distanceLimitKm = distanceLimitKm
  }}
{{/with}}