<div class = "route-city">

  {{hero-header
    currentCity       = model.currentCity
    userCityJunctions = model.userCityJunctions
    distanceLimitKm   = distanceLimitKm
  }}


  <main class = "route-city-main">

    <section class = "route-city-main-section _ui">
      {{cities-chooser
        class            = "route-city-citiesChooser"
        cities           = model.cities
        currentCity      = model.currentCity
        changeCityAction = (action 'changeCityAction')
      }}

      {{#with (sort-by 'user.numericId' model.userCityJunctions) as |userCityJunctions|}}
        <div class = "route-city-distance">
          <span class = "route-city-distance-preLabel">
            Distance limit:
          </span>

          {{#unless fastboot.isFastBoot}}
            {{input
              class = "route-city-distance-slider"
              type  = "range"
              min   = 0
              max   = maxDistanceLimitKm
              value = distanceLimitKm
            }}
          {{/unless}}

          <span class = "route-city-distance-label">
            {{distanceLimitKm}} km
          </span>
        </div>

        {{user-list
          class           = "route-city-userList"
          users           = userCityJunctions
          cityName        = model.currentCity.name
          distanceLimitKm = distanceLimitKm
        }}
      {{/with}}
    </section>{{! route-city-main-section _ui }}



    <section class = "route-city-main-section _desc">
      <h2>The assignment</h2>

      <input id="route-city-assignmentToggler" type="checkbox">
      <label for="route-city-assignmentToggler">Expand</label>

      {{markdown-to-html
        (fr-markdown-file 'assignment')
        class = "route-city-assignment"
      }}

      {{markdown-to-html
        (fr-markdown-file 'description')
      }}
    </section>{{! route-city-main-section _desc }}

  </main>{{! route-city-main }}

  <a href="https://github.com/lolmaus/intercom-test-assignment" class="route-city-fork">
    <img src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
  </a>

</div>{{! route-city }}